site_name: SRE Lab Infrastructure
site_url: https://NicoBaiGit.github.io/sre-lab-infrastructure/
site_description: Documentation du Lab SRE personnel
site_author: Nicolas Bailleul

theme:
  name: material
  language: fr
  logo: material/server-network
  favicon: material/server-network
  palette:
    # Dark mode by default (SRE Style)
    - scheme: slate
      primary: teal
      accent: deep-purple
      toggle:
        icon: material/brightness-4
        name: Passer en mode clair
    # Light mode option
    - scheme: default
      primary: teal
      accent: deep-purple
      toggle:
        icon: material/brightness-7
        name: Passer en mode sombre
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.tracking
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.action.edit

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

nav:
  - Accueil: index.md
  - 01. Poste de Travail (WSL): wsl.md
  - 02. Le Serveur (T420): ubuntu-server.md
  - 03. Guide du Lab SRE: setup-lab.md

